/*
 * App Global CSS 1
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css";*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif !important;
}

app-header {
    background-color: white;
}

.mArticle {
    padding-top: 80px;
}

.mArticle > img {
    float: right; 
    max-width: 600px; 
    width: calc(50vw - 75px ); 
    margin-left: 50px; 
    margin-bottom: 20px; 
    border-radius: 5%; 
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.30);
}

.mTitle {
    font-size: calc( 14px + 1vw);
    font-weight: 500;
}

.mArticle > hr {
    width: 100px; 
    height: 5px; background-color: green; float: left; margin: 20px 0px 10px 0px;
}

.mDesc {
    padding-top: 30px; 
    font-size: large;
    line-height: 28px;
}

.mButton {
    background-color: white;
    min-width: 150px;
    color: #1c6c42;
    border: #1c6c42 1px solid;
    padding: 20px;
    font-size: larger;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px;
}

.mButton:hover {
    color: #ffffff; 
    background-color: #1c6c42 !important; 
}

.mButton ion-icon {
    padding: 0px 0px 0px 5px;
}

.mLink {
    min-width: 150px;
    color: #303030; 
    padding-right: 20px; 
    text-decoration: none;
}

.mLink:hover {
    color: #1c6c42; 
    font-weight: 600;
}

.mCountry {
    display: inline-block;
    width: 350px;
}

@media (max-width: 992px) {
    .mArticle {
        padding-top: 60px;
    }
    .mCountry {
        display: inherit;
    }
} 
  
@media (max-width: 768px) {
    .mArticle {
        padding-top: 20px;
    }
    .mCountry {
        display: inherit;
    }
}

@media (max-width: 576px) {
    .mLinkBlock {
        display: block;
        font-size: large;
    }
    
    .mArticle {
        padding-top: 15px;
    }
    
    .mArticle img {
        float: none; 
        width: 100%; 
        margin-left: 0px; 
    }

    .mCountry {
        display: inherit;
    }
}

@media (max-width: 480px) {
    .mLinkBlock {
        display: block;
    }

    .mArticle {
        padding-top: 10px;
    }
    
    .mArticle img {
        float: none; 
        width: 100%; 
        margin-left: 0px; 
    }

    .mCountry {
        display: inherit;
    }
}

.mPost {
    padding-top: 150px;
}

.mPost > hr {
    height: 2px; 
    background-color: rgb(41, 41, 41);   
}

.mPost ion-item {
    font-size: larger; 
    padding: 20px 0px;
}

.mPost ion-icon {
    padding-left: 20px;
}

ion-modal {
    --max-width: 1200px;
    --max-height: 600px;
    --width: 80%;
    --height: 80%;
    --border-radius: 30px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-select::part(icon) {
    color: #1c6c42;
    opacity: 1;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
  }
  
  .input-group>ion-input {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    min-width: 150px;
  }