<div *ngIf='page' class="mBreadcrumb">
  <a href="/" class="mLinkOther"><ion-icon name="home-outline" style="font-size: large;vertical-align: middle;"></ion-icon></a> <ion-icon name="chevron-forward-outline" style="font-size:small;padding:0px 5px 0px 5px;"></ion-icon>
  <span style="vertical-align: middle;">{{ page }}</span>
</div>
<div style="padding: 50px; background-color: #F8F8F8; letter-spacing: 2px;">
  <ion-grid sytle="max-width: 1200px;margin: auto;">
    <ion-row style="padding-bottom: 20px;padding-top:0px">
      <ion-col style="text-align: center; align-items: center;">
        <a href="/">
      <ion-img  src="../assets/logo-2.svg" alt="logo" style="width: 250px; text-align: center; display: block; margin-left: auto; margin-right: auto;" class="mLogo"></ion-img>
    </a>
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col size="12" size-xl="6" style="margin-left: auto; margin-right: auto;">
         <div class="mLinkEnquiry"><ion-icon name="mail-outline"></ion-icon> {{staticText.mediaEnquires}}: <a class="mLinkEmail" href="mailto:{{staticText.mediaEnquiresEmail}}">{{staticText.mediaEnquiresEmail | uppercase }}</a> </div>
         <ion-grid style="padding:20px;margin: auto;">
          <ion-row>
            <ion-col size="12" size-xl="6">
              <ion-text class="mLinkHeading">{{staticText.linkLegal.title}}</ion-text><br>
              <hr>
              <br><a *ngFor="let lLink of staticText.linkLegal.links" (click)="goTo('{{lLink.link}}')" class="mLink">{{lLink.title}}</a>
            </ion-col>
            <ion-col size="12" size-md="6" class="mFooterSec">
              <ion-text class="mLinkHeading">{{staticText.linkWebsites.title}}</ion-text><br>
              <hr>
              <br><a *ngFor="let lLink of staticText.linkWebsites.links" target="_blank" [href]="lLink.link" class="mLink">{{lLink.title}}</a>
            </ion-col>
          </ion-row>
        </ion-grid>          
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div style="text-align: left; padding-top: 20px;text-align: center;font-size: x-small;letter-spacing: 0.1em;">{{staticText.copyright}}</div>
  
</div>
